{
  "presets": [
    ["es2015", {"modules": false}],
    "stage-0"
  ]
}
// webpack 1 converts all modules to commonJS style and it not possible to use tree-shaking
// to enable "tree-shaking we need to use ES6 modules